{% extends "base.html" %}

{% block content %}
    {% if job_info %}

        <h2>{{job_info['job_title']}}</h2>

        {% for key, value in job_info.items() %}

            <h4 class="semi_bolded">{{key}}: </h4>
            <h4>{{value}}</h4><br/>

        {% endfor %}

    {% else %}

        <div style="text-align: center;">
            <h2>Error! 404</h2>
            <p>Sorry! JobHaven was unable to process your last request. please go back and try again</p>
        </div>

    {% endif %}
{% endblock %}
